body {
  margin: 20px;
  padding: 20px;
  font-family: sans-serif;
  display:inline-block;
  
}
.img-hor-vert {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}